.cardsList {
    padding: 15px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;

}

.cardView {
    margin: 20px;
    height: 400px;
    width: 270px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50% 1fr;
    grid-template-areas: "cardImage" "cardInfo";
    margin-left: 10px;
    border-radius: 8px;
    border: 1px black solid;
    border-radius: 8px;
    color: #333333;
    font-size: 1rem;

}

.cardImage {
    grid-area: cardImage;
    border-radius: 8px;
    height: 100%;
}

.cardImage img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.cardInfo {
    flex: 1;
    grid-area: cardInfo;
    font-family: "Karla", sans-serif;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}

.cardsHead {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cardsTitle {
    font-size: 1.25rem;
    font-weight: 800;

}

.cardsPrice {
    color: #EE9972;
    font-family: "Karla", sans-serif;
    font-weight: 800;
}


.deliverySection {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: inherit;
}


.deliverySection svg {
    margin-left: 15px;
    font-size: 1.5rem;
    opacity: 0.7;
}

.lightcards {
    background: white;
    color: black;
}

.darkcards {
    background: black;
    color: white;
    border: 1px white solid;
}

.cardView a {
    text-decoration: underline;
}

@media (min-width:768px) {
    .cardView {
        height: 600px;
        width: 405px;
        font-size: 1.35rem;
    }

    .cardsTitle {
        font-size: 1.5rem;
        font-weight: 800;

    }
}

/* laptop view */
@media (min-width:1024px) {}


/* Desktop view */
@media (min-width:1280px) {}