.heroSection {
    width: 100%;
    height: auto;
    background-color: #495E57;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: "heroTtitle heroImageContainer" "herodescription herodescription";
}

.heroTtitle {
    grid-area: heroTtitle;
    padding-left: 20px;

}

.heroTtitle article {
    font-size: 64px;
    color: #F4CE14;
    font-family: "Roboto", sans-serif
}

.heroTtitle h2 {
    color: white;
    font-size: 2rem;
    font-weight: 400;
}

.heroImageContainer {
    grid-area: heroImageContainer;
    display: flex;
    justify-content: center;
}

.heroImage {
    padding: 20px;
    display: flex;
    justify-content: center;
    height: 250px;
    width: auto;
    min-height: 100px;
    min-width: 75px;
    grid-area: heroimage;
    align-content: center;
    border-radius: 12px;

}

.heroImage img {
    height: 100%;
    width: 100%;
    aspect-ratio: 4/3;
    object-fit: cover;
    border-radius: 12px;
}

.heroDescription {
    grid-area: herodescription;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;



}

.heroDescription p {
    padding: 0px 0px 10px 0;
    display: flex;
    flex-wrap: wrap;
    font-size: 1.5rem;
}




.buttonSection {
    display: block;

}

.button {
    width: 200px;
    height: 60px;
    padding: 5px;
    text-decoration: none;
    background-color: #F4CE14;
    border: 1px black solid;
    border-radius: 5px;
    color: #333333;
    font-family: "Karla", sans-serif;
    text-align: center;
    align-content: center;
    font-size: 20px;
}

.button:hover {
    background-color: #333333;
    cursor: pointer;
}

@media (min-width:768px) {
    .heroImage {
        height: 350px;
        width: auto;
    }

    .heroSection {
        width: 100%;
        height: auto;
        background-color: #495E57;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        grid-template-areas: "heroTtitle heroImageContainer" "herodescription heroImageContainer";
    }
}

/* laptop view */
@media (min-width:1024px) {}


/* Desktop view */
@media (min-width:1280px) {}