.formview {
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.formtitle {
    text-align: center;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    color: inherit;
    font-family: "Karla", sans-serif;
    font-size: 1.5rem;

}


.formData {
    grid-area: formData;
    width: 100%;
    max-width: 400px;
    justify-self: center;


}

.dataview {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.fullButtonName {
    display: none;
}

.dataview input,
select,
button {
    width: 100%;
    padding: 10px;
    border-radius: 16px;
    font-family: "Karla", sans-serif;
    font-size: 1rem;
}

.dataview label {
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 700;
    width: auto;
}

.selectTouchedButEmpty {
    border: 2px red solid;
    cursor: pointer;
}

.errorclass {
    margin-top: 5px;
    padding: 5px;
    color: red;
    font-size: 14px;
    font-weight: 600
}

.setPersons {
    display: flex;
}

.inputpersons {
    margin: 0 5px 0 5px;
    text-align: center;
}

.defaultFormGoButton {
    max-width: 400px;

}

.maxpersons {
    margin-top: 5px;
    padding: 5px;
    color: red;
    font-size: 14px;
    font-weight: 600;
}




/* Tablet view */
@media (min-width:768px) {
    .formview {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: auto 1fr auto;
        grid-template-areas: "formtitle formtitle" "bookingList formData" "bookingList formGoButton";
    }

    .formtitle {
        grid-area: formtitle;
        font-size: 2rem;
        display: flex;
        justify-content: center;
    }

    .formData {
        width: 100%;
        max-width: 400px;
        justify-self: center;
    }

    .dataview input,
    select,
    button {
        font-size: 1.5rem;
    }

    .formGoButton {
        margin-top: 1.5rem;
        grid-area: formGoButton;
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .buttongo {
        max-width: 400px;
    }
}

/* laptop view */
@media (min-width:1024px) {
    .formtitle {
        grid-area: formtitle;
        font-size: 2rem;
        display: flex;
        justify-content: center;
    }

    .formData {
        width: 100%;
        max-width: 600px;
        justify-self: center;


    }
}

/* Desktop view */
@media (min-width:1280px) {}