.formview {
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.formtitle {
    text-align: center;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    color: inherit;
    font-family: "Karla", sans-serif;
    font-size: 1.5rem;

}


.formData {
    grid-area: formData;
    width: 100%;
    max-width: 400px;
    justify-self: center;


}

.dataview {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;

}

.dataview label {
    margin-bottom: 5px;
}

.fullButtonName {
    display: none;
}

.dataview input,
select,
button {
    width: 100%;
    padding: 10px;
    border-radius: 16px;
    outline: 0.5px white solid;
    background-color: inherit;
    font-family: "Karla", sans-serif;
    color: inherit;
    font-size: 20px;
}

.dataview label {
    font-size: 18px;
    font-weight: 700;
    width: auto;
}



.selectView {
    background-color: white;
}

.selectView:hover {
    background-color: #EDEFEE;
    color: #333333;
}

.darkselectView {
    background-color: black;
    color: white;
}

.darkselectView:hover {
    background-color: #333333;
    cursor: pointer;
}

.inputGood:hover {
    background-color: #EDEFEE;
}

.selectTouchedButEmpty {
    outline: 0.5px red solid;
    border: 1px white;
}

.inputGood {
    border-color: 1px white solid;
}

.darkInputGood {
    background-color: black;
    color: white;
}

.darkInputGood:hover {
    background-color: #333333;
    cursor: pointer;
}


.errorclass {
    margin-top: 5px;
    padding: 5px;
    color: red;
    font-size: 14px;
    font-weight: 600;


}

.setpersons {
    display: flex;
}


.setpersons button:hover {
    background-color: #EDEFEE;
}

.darksetpersons {
    display: flex;
    background-color: black;
    color: white;
}

.darksetpersons button:hover {
    background-color: #333333;
    cursor: pointer;
}

.inputpersons {
    text-align: center;
    scroll-behavior: none;
}

.inputpersons:hover {
    background-color: #EDEFEE;
}

.darkinputpersons {
    text-align: center;
}

.darkinputpersons:hover {
    background-color: #333333;
    cursor: pointer;
}

.setbutton {
    width: 20px;
}

.defaultFormGoButton {
    max-width: 400px;

}

.buttongo {
    background-color: #F4CE14;
}

.red {
    outline: 3px red solid;
}

.buttongo:hover {
    background-color: #333333;
    color: white;
    cursor: pointer;
}

.maxpersons {
    margin-top: 5px;
    padding: 5px;
    color: red;
    font-size: 14px;
    font-weight: 600;
}




/* Tablet view */
@media (min-width:768px) {
    .formview {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: auto 1fr auto;
        grid-template-areas: "formtitle formtitle" "bookingList formData" "bookingList formGoButton";
    }

    .formtitle {
        grid-area: formtitle;
        font-size: 2rem;
        display: flex;
        justify-content: center;
    }

    .formData {
        width: 100%;
        max-width: 400px;
        justify-self: center;
    }

    .formGoButton {
        margin-top: 1.5rem;
        grid-area: formGoButton;
        display: flex;
        justify-content: center;
        width: 100%;

    }

    .buttongo {
        max-width: 400px;
    }
}

/* laptop view */
@media (min-width:1024px) {
    .formtitle {
        grid-area: formtitle;
        font-size: 2rem;
        display: flex;
        justify-content: center;
    }

    .formData {
        width: 100%;
        max-width: 600px;
        justify-self: center;


    }
}

/* Desktop view */
@media (min-width:1280px) {}