.headercontainer {
    grid-area: header;
    position: relative;
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: "themebutton nav" "logo logo";
}

.logo {
    grid-area: logo;
    padding: 1rem;
    display: flex;
    justify-content: center;
}

.logo img {
    height: 100%;
}

.themecontainer {

    grid-area: themebutton;
    display: flex;
    align-self: flex-start;
    justify-self: left;
    height: fit-content;
    flex-direction: row;
    justify-content: center;
    border-radius: 6px;
    padding: 5px;
    opacity: 0.6;

}

.headernav {
    position: absolute;
    width: 100%;
    z-index: 999;
    grid-area: nav;
    padding: 5px 5px 0 0;
    display: flex;
    justify-content: end;
    /* border: 1px red solid; */

}

.themecontainer button {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 50%;
    padding: 5px;
    cursor: pointer;
}

.lightthemepart {
    border-radius: 6px 0 0 6px;
}

.darkthemepart {
    border-radius: 0 6px 6px 0;
}

.yellow {
    background-color: #F4CE14;
    color: #333333;
    border: 1px #333333 solid;
}

.default {
    border: 1px #333333 solid;
}

.yellow:hover {
    background-color: #333333;
    color: white;
    border: 1px #F4CE14 solid;
}

.default:hover {
    background-color: #333333;
    color: white;
    border: 1px #F4CE14 solid;

}




/* Tablet view */
@media (min-width:768px) {
    .headercontainer {

        grid-template-columns: auto 1fr;
        grid-template-rows: auto auto;
        grid-template-areas: "themebutton logo" "nav nav";
    }

    .logo {
        padding: 1rem;
        height: 100px
    }

    .headernav {
        position: relative;


    }
}

/* laptop view */
@media (min-width:1024px) {

    .headercontainer {
        grid-area: header;
        position: relative;
        height: auto;
        width: 100%;
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows: auto auto;
        grid-template-areas: "themebutton logo" "nav nav";
    }
}

/* Desktop view */
@media (min-width:1280px) {}