.headercontainer {
    grid-area: header;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;

}

.logo {
    margin: 1rem;
    padding: 1rem;
}

/* Tablet view */
@media (min-width:768px) {
    .headercontainer {
        display: flex;
        flex-direction: column;

    }
}

/* laptop view */
@media (min-width:1024px) {
    .headercontainer {
        display: flex;
        flex-direction: row;

    }
}

/* Desktop view */
@media (min-width:1280px) {}