.clientformcomponent {
    height: 100%;
    width: 100%;
    /* background-color: cornflowerblue; */
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: "clientFormHero clientFormHero" " reservationoverview clientformview";

}

.clientFormHero {
    grid-area: clientFormHero;
    background-color: #495E57;
    max-height: 132px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.clientFormHero article {
    font-size: 48px;
    color: #F4CE14;
    /* font-family: "Markazi text", serif; */
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    text-align: center;
}

.clientFormHero p {
    color: white;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

.reservationoverview {
    grid-area: reservationoverview;
    width: 100%;
    height: 100%;
    /* background-color: aquamarine; */
    display: flex;
    flex-direction: column;
}

.clientformsection {
    grid-area: clientformview;
}



.clientformview {
    margin: 20px;
    max-width: 1008px;
    max-height: 657px;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;

}

.reservationoverview {
    /* margin: 10px; */
    color: #333333;
    font-family: "Karla", sans-serif;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 3fr;
    grid-template-areas: "reservationoverviewtitle" "reservationdetaillist";
    /* background-color: aquamarine; */

}

.reservationoverviewtitle {
    padding: 10px;
    grid-area: reservationoverviewtitle;
    font-size: 26px;
    text-align: center;
    display: flex;
    align-items: flex-end;
    justify-content: center;

}

.reservationdetaillist {
    padding: 10px;
    grid-area: reservationdetaillist;
    margin-top: 20px;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    list-style: none;
    align-items: center;
    justify-content: right;
    /* background-color: aqua; */
}

.overviewlist {
    /* background-color: #F4CE14; */
    margin-top: 20px;
    font-size: 22px;
    list-style: none;
    display: flex;
    flex-direction: column;
}

.overviewitem {
    display: flex;
    flex-direction: row;
}

.overviewitem label {
    width: 100px;
}

.buttongo {
    background-color: #F4CE14;
}

.buttongo:hover {
    background-color: #333333;
    color: white;
    cursor: pointer;

}


@media (max-width:650px) {

    .clientFormHero article {
        font-size: 32px;

    }

    .reservationoverview {
        grid-template-rows: 1fr 2fr;

    }

    .reservationoverviewtitle {
        font-size: 22px;
        text-align: center;
    }

    .reservationdetaillist {
        font-size: 16px;
    }
}

@media (max-width:450px) {
    .reservationoverviewtitle {
        font-size: 18px;
        text-align: center;
    }

    .reservationdetaillist {
        font-size: 16px;

    }
}