.clientformcomponent {
    width: 100%;
    display: flex;
    flex-direction: column;



}

.clientFormHero {
    grid-area: clientFormHero;
    background-color: #495E57;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.clientFormHero article {
    font-size: 1.5rem;
    color: #F4CE14;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    text-align: center;
}

.clientFormHero p {
    color: white;
    font-weight: 400;
    text-align: center;
}

.reservationoverview {
    width: 100%;
    height: 100%;
    font-size: 1.25rem;
    display: flex;
    flex-direction: column;
}

.reservationoverviewtitle {
    padding: 10px;
    font-size: 1.25rem;
    text-align: center;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    font-weight: 700;

}

.reservationdetaillist {
    padding: 10px;
    display: flex;
    flex-direction: column;
    list-style: none;
    align-items: center;
    justify-content: center;


}

.overviewlist {
    font-size: 1.15rem;
    list-style: none;
    display: flex;
    flex-direction: column;
}

.overviewitem {
    display: flex;
    flex-direction: row;
}

.overviewitem label {
    width: 100px;
}

.clientformsection {
    grid-area: clientformsection;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clientformview {
    margin: 20px;
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;

}

.formGoButton {
    padding: 10px;
    margin-top: 1.5rem;
    grid-area: formGoButton;
    display: flex;
    justify-content: center;
    width: 100%;
}


/* Tablet view */
@media (min-width:768px) {
    .clientformcomponent {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: auto 1fr;
        grid-template-areas: "clientFormHero clientFormHero" " reservationoverview clientformsection";
    }

    .reservationoverview {
        grid-area: reservationoverview;
        font-size: 1.5rem;
        justify-content: center;
        align-items: center;


    }

    .clientformsection {
        grid-area: clientformsection;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .clientFormHero article {
        font-size: 2rem;
    }

    .clientFormHero p {
        font-size: 1.5rem;

    }

    .reservationoverviewtitle {
        font-size: 1.25rem;

    }
}

/* laptop view */
@media (min-width:1024px) {



    .clientFormHero article {
        font-size: 3rem;
    }

    .clientFormHero p {
        font-size: 2rem;

    }

    .clientformview {

        max-width: 600px;

    }
}

/* Desktop view */
@media (min-width:1280px) {
    .reservationoverview {
        font-size: 1.5rem;
        justify-content: center;
        align-items: end;


    }

    .clientformsection {
        grid-area: clientformsection;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}