.bookingSection {
    height: 100%;
    width: 100%;
    grid-area: bookingList;
    color: #333333;
    font-family: "Karla", sans-serif;
    display: flex;
    flex-direction: column;


}

.bookingsectiontitle {
    padding-top: 10px;
    font-size: 1.25rem;
    text-align: center;
    justify-content: center;
    font-weight: 700;


}

.bookingsectionlist {
    flex: 1;
    margin-top: 20px;
    font-size: 1.15rem;
    display: flex;
    flex-direction: column;
    list-style: none;
    align-items: center;
    justify-content: right;
}

/* Tablet view */
@media (min-width:768px) {}

/* laptop view */
@media (min-width:1024px) {}

/* Desktop view */
@media (min-width:1280px) {}